
img.redimension{
    width: 100px;
    height: 100px;
 }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30px;
    background-color: rgb(115, 218, 20);
    li a:hover{
        color: #dd1f9e;
        display: inline-block;
        text-decoration: none;
        padding: .5rem 2rem;
        font-size: 1rem;
     
      @media screen and (min-width: 480px) {

          display: flex;
          justify-content: space-around;
        }
    }
  } 
  
  
div {
    .imagen {
        width: 50%;
        margin: 20px auto;
        background-color: rgb(115, 218, 20);
        color: #fff;
        padding: 15px;
        img.izquierda {
            float: left;
            margin-right: 15px;
        }
        img.derecha {
            float: right;
            margin-left: 15px;
        }       
    }
} 
 
.present img{
    width: 200px;
    height: 200px;
    
}
.present p {
    margin-left: 100px; 
}
.present {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    background-color: rgb(115, 218, 20) ;
    :hover{
        height: 220px;
        width: 220px;
        transform: translateX(10px);
        transform: rotate(50deg);
            
    }
} 

